<!--    VIEWS_OFFICES TABLE   -->
<p-table #dt styleClass="p-datatable-offices-data" [value]="officesData$ | async" dataKey="chargePointId"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" responsiveLayout="scroll"
[rows]="10" [rowHover]="true" [paginator]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,20,30]"
[loading]="isLoading$ | async" [totalRecords]="totalRecords$ | async" [filterDelay]="300"
[globalFilterFields]="globalFiltersFields" [(selection)]="selectedOfficesData" [lazy]="true" [customSort]="true"
(onLazyLoad)="sort($event)" [tableStyle]="{'min-width': '25rem'}">

    <ng-template pTemplate="caption">
        <div class="flex">
            <span style="font-size: 25px;">Panoramica prenotazioni uffici del giorno {{formattedDate}}</span>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText [value]="lastSearch$ | async" type="text" (input)="filter($event.target.value)"
                    placeholder="Office Search" />
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>            
            <th style="width: 5rem"></th>

            <th pSortableColumn="officesName">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Nome ufficio
                    <p-sortIcon field="officesName"></p-sortIcon>
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Posti rimanenti
                </div>
            </th>
            <th pSortableColumn="officesType">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Tipologia
                    <p-sortIcon field="officesType"></p-sortIcon>
                </div>
            </th>
            
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-officesData>
        <tr class="p-selectable-row" [pRowToggler]="officesData.officesId">
            <td>
                <button type="button" pButton pRipple
                    class="p-button-text p-button-rounded p-button-plain"
                    [icon]="isRowExpanded(officesData.officesId) ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                    (click)="toggleRow(officesData.officesId)">
                </button>
            </td>
            <td>
                <span class="p-column-title">Nome ufficio</span>
                {{officesData.officesName}}
            </td>
            <td>
                <span class="p-column-title">Posti rimanenti</span>
                {{ officesData.officesCapacity - (officesData.userId ? officesData.userId.split(', ').length : 0) }} <!-- capacity - posti occupati -->
            </td>
            <td>
                <span class="p-column-title">Tipologia</span>
                {{officesData.officesType}}
            </td>
            
        </tr>     
        <tr *ngIf="isRowExpanded(officesData.officesId)">
            <td [attr.colspan]="globalFiltersFields.length + 1">
                <div class="expanded-content">
                    <p *ngIf="officesData.userId; else noUsers">Utenti: {{ officesData.userId }}</p>
                    <ng-template #noUsers>Nessun utente ha prenotato questo ufficio</ng-template>
                </div>
            </td>
        </tr>  
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="9">No Notices Data found.</td>
        </tr>
    </ng-template>
</p-table>

