# .npmrc 
# in the starter template we want to force the same NPM/NODE Major version for all developers 
# look at the package.json in the section "engines" to see the currently supported version 
engine-strict=true 